  <div class="book">
 <div class="page left-page"> 
   
  
  <%= render 'shared/book_style_layout' %>

<div class="tab-content"> 
  <h2>労働時間の登録</h2>

  <%= form_with model: @work_time, url: work_times_path, local: true do |f| %>
    <div class="form-group">
      <div>
      <%= f.label :date, "日付" %>
      </div>
      <%= f.date_field :date, value: Date.today, class: "form-control" %>
    </div>
    
   <div class="form-group">
      <div>
      <%= f.label :category_work_time_id, "カテゴリ" %>
      </div>
      <%= f.select :category_work_time_id,
        @category_work_times.map { |c| [c.name, c.id] },
       { prompt: "選択してください" },
       class: "form-control" %>
   </div>

    <div class="form-group">
      <div>
      <%= label_tag :labor_hour, "労働時間（時間）" %>
      </div>
      <%= number_field_tag :labor_hour, nil, class: "form-control", min: 0 %>
    </div>

    <div class="form-group">
      <div>
      <%= label_tag :labor_minute, "労働時間（分）" %>
      </div>
      <%= number_field_tag :labor_minute, nil, class: "form-control", min: 0, max: 59 %>
    </div>

    <div class="form-group">
      <div>
      <%= f.label :report, "作業日報（任意）" %>
      </div>
      <%= f.text_area :report, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "登録する", class: "form-submit" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= link_to "戻る", root_path, class: "form-control", role: "button" %>
  </div>

  </div>
  </div>

  <!-- 右ページ -->
  <div class="page">
    <h2>Information</h2>
      <ul>
        <li>
  <% if @work_time.errors.any? %>
    <div class="error-messages">
      <ul>
        <% @work_time.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
        </li>
      </ul>
      <ul>
           <li><span class="info-title">労働時間</span>労働時間を記録できます。</li>
           <li><span class="info-title">労働時間</span>24時間以上の時間も登録できます。</li>
      </ul>
  </div>
</div>
</div>
 


