   <div class="tabs">
      <%= link_to root_path, class: "tab active" do %>
  <p class="date white-text"><%= Date.today.strftime('%Y/%m/%d') %></p>
<% end %>

      <%= link_to "収入入力", new_income_path, class: "tab" %>
      <%= link_to "支出入力", new_expense_path, class: "tab" %>
      <%= link_to "労働時間入力", new_work_time_path, class: "tab" %>
      <%= link_to "日報", work_reports_path, class: "tab" %>
      <%= link_to "アルバム", albums_path, class: "tab" %>
      <%= link_to "分析", analyses_path, class: "tab" %>

    </div>
