   <div class="tabs">
      <button class="tab active"><p class="date white-text"><%= Date.today.strftime('%Y/%m/%d') %></p></button>
      <%= link_to "収入入力", new_income_path, class: "tab" %>
      <%= link_to "支出入力", new_expense_path, class: "tab" %>
      <%= link_to "労働時間入力", new_work_time_path, class: "tab" %>
      <%= link_to "アルバム", albums_path, class: "tab" %>
      <button class="tab">分析</button>
      <button class="tab">日記</button>
    </div>
