<div class="book">
  <!-- 左ページ -->
  <div class="page left-page">
    <div class="tabs">
      <button class="tab active"><p class="date white-text"><%= Date.today.strftime('%Y/%m/%d') %></p></button>
      <%= link_to "収入入力", new_income_path, class: "tab" %>
      <button class="tab">支出入力</button>
      <button class="tab">アルバム</button>
      <button class="tab">分析</button>
      <button class="tab">日記</button>
    </div>

    <!-- モーダルカテゴリ追加フォーム -->
  <div id="modal-overlay" style="display: none;">
    <div class="modal-content">
      <%= form_with model: CategoryIncome.new, url: category_incomes_path, local: true, data: { turbo: false } do |f| %>
        <%= f.text_field :name, placeholder: "カテゴリ名を入力", class: "form-control" %>
        <%= f.submit "追加", class: "form-submit" %>
      <% end %>
      <button id="close-modal" class="form-button">閉じる</button>
    </div>
    
  </div>


    <div class="tab-content">


      <div class="income-main">
        <div class="income-input">
          <%= form_with model: @income, local: true do |f| %>
            <div class="form-group">
              <%= f.label :date, "日付" %><br>
              <%= f.date_field :date, value: Date.today , class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :amount, "金額（円）" %><br>
              <%= f.number_field :amount, class: "form-control" %>
            </div>

            <div class="form-group category-wrapper">
              <%= f.label :category_income_id, "カテゴリ" %><br>
              <%= f.select :category_income_id, current_user.category_incomes.map { |c| [c.name, c.id] }, prompt: "選択してください", class: "form-control" %><br>
              <button type="button" id="show-category-form" class="form-button">＋カテゴリ追加</button>
            </div>

            <div class="form-group">
              <%= f.label :labor_time, "労働時間（任意）" %><br>
              <%= f.number_field :labor_time, step: 0.1, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :memo, "メモ（任意）" %><br>
              <%= f.text_area :memo , class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "登録する", class: "form-submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- 右ページ -->
  <div class="page">
 <h2>収入登録</h2>
<% if @category_income && @category_income.errors.any? %>
  <div class="error-messages">
    <ul>
      <% @category_income.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  </div>
</div>


 


