<div class="book">
  <!-- 左ページ -->
  <div class="page left-page">
<%= render 'shared/book_style_layout' %>
    <div class="tab-content">
    <div id="calendar-selects">
     <h2><%= form_with url: root_path, method: :get, local: true do %>
         <%= select_tag :year, options_for_select((2020..2100).to_a, @date.year) %>
         <%= select_tag :month, options_for_select((1..12).to_a, @date.month) %>
         <%= submit_tag "表示" %>
           <% end %></h2>
     </div>
      <!-- カレンダー表示 -->
<div class="calendar-wrapper">
  <%= month_calendar start_date: @date do |date| %>
    <div>
      <%= date.day %>

      <% if @grouped_incomes[date] %>
        <% total_income = @grouped_incomes[date].sum(&:amount) %>
        <div class="income">+<%= number_with_delimiter(total_income) %>円</div>
      <% end %>

      <% if @grouped_work_times[date] %>
        <% total_minutes = @grouped_work_times[date].sum(&:minutes) %>
        <% total_hours = (total_minutes / 60.0).round(2) %>
        <div class="labor">🕒 <%= total_hours %>h</div>
        
      <% end %>
    </div>
  <% end %>
</div>

<!-- カスタムモーダル -->
<div id="customDeleteModal" class="custom-modal">
  <div class="custom-modal-content">
    <p>本当に削除しますか？</p>
    <div class="modal-buttons">
      <button type="button" onclick="closeDeleteModal()">キャンセル</button>
      <button type="button" onclick="submitDeleteForm()">削除</button>
    </div>
  </div>
</div>


<div class="work-box">
  <div class="small-heading">今月の労働時間一覧</div>
  <% if @work_times.any? %>
  <ul class="worktime-list">
    <% @work_times.each do |work_time| %>
      <li>
        <%= work_time.date.strftime('%m/%d') %> :
       <span class="category-label">
  <%= work_time.category_work_time&.name || '未設定' %>
</span>
        /<%= (work_time.minutes / 60.0).round(2) %>h
   

  <div class="tooltip-wrapper">
    <%= form_with url: work_time_path(work_time), method: :delete, html: { class: "delete-form", style: "display: inline;" } do %>
      <button type="button" class="delete-link-button" onclick="confirmDelete(this)">
        ×<span class="tooltip-text">削除</span>
      </button>
    <% end %>
  </div>

  <div class="tooltip-wrapper">
    <%= link_to edit_work_time_path(work_time), class: "edit-link-button" do %>
      <span class="mirrored-icon">✎</span><span class="tooltip-text">編集</span>
    <% end %>
  </div>
       <% end %>
  </ul>
  <% else %>
  <p>今月の労働時間は登録されていません。</p>
  <% end %>
  </div>
  </div>



  </div>


  <!-- 右ページ -->
  <div class="page">
     <h2><%= @date.strftime("%Y年%m月") %>の家計簿</h2>
  <!-- 今月の収支 -->
  <div class="show-box ">
  <div class="income-box">
    <h3>収入</h3>
    <% if @incomes.any? %>
      <ul>
        <% @incomes.each do |income| %>
          <li><%= income.date.strftime("%m/%d") %>：<%= income.category_income&.name || "カテゴリ" %> / ¥<%= number_with_delimiter(income.amount) %>
   
   <div class="tooltip-wrapper">
   <!-- 削除ボタン -->
   <%= form_with url: income_path(income), method: :delete, html: { class: "delete-form", style: "display: inline;" } do %>
    <button type="button" class="delete-link-button" onclick="confirmDelete(this)">
      ×<span class="tooltip-text">削除</span>
    </button>
    <% end %>
   </div>  
  
   <!-- 編集ボタン -->
   <div class="tooltip-wrapper">
   <%= link_to edit_income_path(income), class: "edit-link-button" do %> 
  <span class="mirrored-icon">✎</span><span class="tooltip-text">編集</span>
   <% end %>
  </div>  

      </li>
        <% end %>
      </ul>
    <% else %>
      <p>この月の収入はありません</p>
    <% end %>
  </div>

  <div class="income-box">
    <h3>支出</h3>
    <% if @expenses && @expenses.any? %>
      <ul>
        <% @expenses.each do |expense| %>
          <li><%= expense.date.strftime("%m/%d") %>：<%= expense.name || "カテゴリ" %> / ¥<%= number_with_delimiter(expense.amount) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>この月の支出はありません</p>
    <% end %>
  </div>
  </div>

  
  </div>
</div>