<%= form_with model: @expense, local: true, multipart: true do |f| %>
  <div class="form-layout">
    <!-- 日付 -->
    <div class="form-group">
      <%= f.label :date, "日付" %>
      <%= f.date_field :date, value: Date.today, class: "form-control" %>
    </div>

    <!-- 金額 -->
    <div class="form-group">
      <%= f.label :amount, "金額" %>
      <%= f.number_field :amount, placeholder: "円", class: "form-control" %>
    </div>

    <!-- カテゴリ -->
    <div class="form-group">
      <%= f.label :category_expense_id, "カテゴリ" %>
      <%= f.select :category_expense_id,
            CategoryExpense.where(user_id: nil)
              .or(CategoryExpense.where(user_id: current_user.id))
              .map { |c| [c.name, c.id] },
            { prompt: "選択してください" },
            class: "form-control" %>
      <div>
        <button type="button" id="show-expense-category-form" class="form-button">＋カテゴリ追加</button>
      </div>
    </div>

    <!-- メモ -->
    <div class="form-group">
      <%= f.label :memo, "メモ（任意）" %>
      <%= f.text_area :memo, class: "form-control" %>
    </div>

    <!-- 画像＋タグ -->
    <div class="form-group">
      <div id="tagged-images">
      </div>
      <!-- 画像追加ボタン -->
      <button type="button" id="add-tagged-image" class="form-button">＋画像を追加</button>
    </div>

    <!-- 登録ボタン -->
    <div class="form-group">
      <%= f.submit "登録する", class: "form-submit" %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= link_to "戻る", root_path, class: "form-control", role: "button" %>
</div>

<!-- テンプレート -->
<template id="tagged-image-template">
  <div class="tagged-image-group" data-group>
    <input type="hidden"
           name="expense[tagged_images_attributes][NEW_INDEX][_destroy]"
           class="destroy-flag"
           value="false">

    <label class="image-label-final">画像</label>
    <div class="file-center-wrapper">
      <input type="file"
             name="expense[tagged_images_attributes][NEW_INDEX][image]"
             class="form-button image-input"
             data-preview-target="preview-NEW_INDEX">
    </div>

    <div class="image-preview" id="preview-NEW_INDEX"></div>

    <input type="text"
           name="expense[tagged_images_attributes][NEW_INDEX][tag_list]"
           class="form-control"
           placeholder="タグ（カンマ区切り）">
    <small class="tag-hint">※タグは「,（カンマ）」で区切って入力してください（例：6月, 通信費）</small>
    <button type="button" class="form-button delete delete-image-button">削除</button>
  </div>
</template>
