<!DOCTYPE html>
<html>
  <head>
    <title>household account book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="title"><a href="/">household account book</a></div>
     <% if user_signed_in? %>
      <div class="button-area">
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "login-button" %>  
      </div>
     <% elsif %>
      <div class="button-area">
        <%= link_to "ログイン", new_user_session_path, class: "login-button" %>
        <%= link_to "新規登録", new_user_registration_path, class: "login-button"  %>
      </div>
      <% end %>
    </header>

    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright ©  All rights reserved.</p>
    </footer>
  </body>
</html>
